.standout {
    background-color: rgba(221, 170, 133, 0.599);
}

h4{
    font-size: 20px;
    color: rgb(96, 95, 95); }

h4 {
    font-weight: 350;
}

.image-text-container {
    position: relative;
    display: inline-block;
}

.image-group {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.image-text-container {
    position: relative;
    margin-bottom: 10px;
}

.text-at-bottom-right {
    position: absolute;
    bottom: 0;
    right: -200px;
    margin: 0;
    color: gray;
}

.subtitle {
    background-color: rgba(212, 221, 133, 0.599);
}

.fontsize{
    font-weight: 300;
    font-size:medium;
}

.subsubtitle {
    background-color: rgba(165, 221, 133, 0.599);
}

.title {
    background-color: rgba(149, 221, 133, 0.599);
}